body{
    background-color: dodgerblue;
}
h1 {
    color:aliceblue
    text-align: center;
    font-size: 80px;
}
p{
    color:royalblue;
    text-align: center;
    font-sie: 80px;
}
img{
    widh: 480px;
    margin-letf: 880px;
}